<!doctype html>

<script src="/vendor/angular/angular.min.js"></script>
<script src="/app/js/app-factory.js"></script>

<body ng-app="app">
    <div ng-controller="baseCtrl as base">
        <p>Name: {{base.name}}</p>
        <p>Message: {{base.message}}</p>
    </div>
    <br />
    <div ng-controller="childCtrl as child">
        <p ng-click="child.showName()">Name: {{child.name}}</p>
        <p>Message: {{child.message}}</p>
    </div>
    <br />
    <div ng-controller="mixinCtrl as mixin">
        <p ng-click="mixin.showName()">Name: {{mixin.name}}</p>
        <p>Message: {{mixin.message}}</p>
    </div>
</body>
